.player{
    display: block;
    position: absolute;
    width: 150px;
    height: 170px;
    left: 1750px;
    /* 0, 150, 350, 520, 680 */
    top: 0px;
}

button{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.gameover-winner{
    text-align: center;
    font-size: 42px;
    position: absolute;
    width: 700px;
    height: 200px;
    left: 600px;
    top: 320px;
    color: yellow;
}

img{
    width: 150px;
    height: 150px;
}

.ghost{
    /* border: 1px solid red; */
    display: block;
    position: absolute;
    width: 150px;
    height: 170px;
    left: 0px;
}

span{
    color: white;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

p{
    color: white;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.player-text-block {
    position: relative;
    bottom: 10px;
    right: 00px;
    padding-left: 20px;
    padding-right: 20px;
  }

.text-block {
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

body{
    background-color: black;
}

h1{
    color: white;
    margin: 0px;
}

#ui{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    column-gap: 100px;
}

#play-area{
    height: 850px;
    width: 2000px;
    background-image: url("images/Ghost-Forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}